[submodule "ide"]
	path = ide
	url = git@github.com:edu-ide/edu-ide.git
[submodule "landingpage"]
	path = landingpage
	url = git@github.com:edu-ide/landingpage.git
[submodule "backend"]
	path = backend
	url = git@github.com:edu-ide/backend.git
[submodule "lms"]
	path = lms
	url = git@github.com:edu-ide/lms.git
